@import "trix";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');

html, body{
  font-family: 'Helvetica Neue';
  height: 100%;
}

.navbar-brand{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color:  #E0E0E0 !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color:  #fff !important;
}

.bg-orange{
  background-color: #EE4E2E !important;
}

.btn-orange{
  background-color: #EE4E2E !important;
  color: #fff !important;
}

.form-control:focus {
  border-color: #EE4E2E !important;
  box-shadow: 0 0 0 0.1rem #fff !important;
}

.text-justify{
  text-align: justify !important;
}

.badge-orange{
  background-color: #f07a63 !important;
}

.link-orange{
  color: #EE4E2E !important;
}

// Hide The Grey Inactive Progress Bar Of Trix Editor File Upload
.attachment__progress{
  display: none;
}

// Hide The Attachment Icon On From Trix Editor
.trix-button-group.trix-button-group--file-tools{display: none;}

.trix-content{
  height: 250px;
  overflow-y: auto;
}

.bg-light-orange{
  background-color: #FBE9E7 !important;
}

// Pagination
li.active.page-item > a{
  background-color: #EE4E2E !important;
  color: #fff !important;
}