@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');

html, body{
  font-family: 'Helvetica Neue';
  height: 100%;
}

.navbar-brand{
  font-family: 'Lato', sans-serif;
}

.navbar-light{
  a{
    color: #fff !important;
  }
}
.bg-orange{
  background-color: #EE4E2E !important;
}

.btn-orange{
  background-color: #EE4E2E !important;
  color: #fff !important;
}

.form-control:focus {
  border-color: #EE4E2E !important;
  box-shadow: 0 0 0 0.1rem #fff !important;
} 