@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');

html, body{
  font-family: 'Helvetica Neue';
}

.navbar-brand{
  font-family: 'Lato', sans-serif;
}

.navbar-light{
  a{
    color: #fff !important;
  }
}
.bg-orange{
  background-color: #EE4E2E !important;
}