<%= render "shared/admin_nav" %>

<% content_for :title do %>
  New Product
<% end %>

  <div class="container-fluid h-100 mt-5">
    <div class="row justify-content-center align-items-center h-100 pt-3">
      <div class="col-lg-12 col-sm-12">
        <div class="card mt-2">
          <div class="ms-4">
            <%= link_to products_path, :class=>"btn btn-light" do %>
              <i class="fas fa-arrow-left"></i>
            <% end %>
            <span class="h4 text-muted mb-5 fw-bold ms-2">Add A New Product</span>
          </div>
          <hr class="style3">
          <div class="card-body">
            <%= render 'form', product: @product %>
          </div>
        </div>
      </div>
    </div>
  </div>